/* from sample */
:root {
    --bord: 1px solid #777
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main {
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	width: 760px;
	background-color: #eee;
}

.datatable {
	width: 200px;
	margin-top: 2rem;
}

.row {
	display: grid;
	grid-template-columns: 100px 100px;
	align-items: center;
	text-align: center;
}

.col {
	padding: 10px;
    border-top: var(--bord);  /*line on top of each col*/
    border-left: var(--bord); /*line on left side of each col*/
}

.col:nth-child(even) {
	border-right: var(--bord); /*line on right side of each even div.col*/
}

.row:last-child {
	border-bottom: var(--bord); /*line on bottom of each col*/
	background-color: darkgrey;
    ; /*background only on last row*/
}

/* pseudo class for anchor tags  */
a:visited, a:active {
    color:navy;
}
/* pseudo class for anchor tags  */
a:hover {
    color: purple;
}
