body {
    max-width: 900px;
    margin: 0 auto;
}

header {
    color: black;
    background-color: #B0B493;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

ul li {
    list-style-type: none;
}

#open li:hover {
    color: blue;
}

a {
    color: black;
}
a:visited {
    color:red;
}

ul li::before {
    content: "☑️ "
}

#open li:nth-child(3)::before {
    content: "🌟 ";
}

img {
    width:100%;
    margin-top: 10px;
}

footer {
    background-color: #B0B493;
    text-align: center;
}

#main-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#picture1 {
    grid-column: 1/2;
}

#picture2 {
    grid-column: 2/3;
    grid-row: 1/2;
}