body {
  font-family: Roboto, Arial, sans-serif;
  margin: auto;
  max-width: 800px;
}

header {
    background: #B0B493;
    padding: 2rem;
    margin: 0 auto;
  }

  #header-grid {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }

  .profile img {
    width: 100%;
    height: auto;
  }

.hero {
  position: relative;
  margin: 0 auto;
}

.hero img {
  width: 100%;
  height: auto;
  }
  
.hero-label {
  position: absolute;
  top: 20px;
  right: 10px;
  background:radial-gradient(#fff, #90b5dd4d
  );
  border: 1px solid black;
}

.hero-label p {
  font-size: 1em;
  padding: 5px;
  margin: 0;
} */

  #hero-img {
    display: block;
    margin-left: auto;
    height: 200px;
    image-rendering: auto;
  }
  
  h1 {
    display: flex;
    text-align: center;
    padding-left: 30px;
    font-family: Handlee, Arial, sans-serif;
    font-size: 60px;
  }

/*added for hamburger menu*/
#hamburgermenu {
  display: block;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  padding-left: 15px;
  padding-bottom: 10px;
  background-color: #daddc2;
  color: black;
}
/*added for hamburger menu*/
#hamburgermenu::before {
  content: "\2630"; /*the unicode symbol for hamburger menu*/
  font-size: 24px;
}
/* end of add */
.hamburgernav li {
  display:none;
}

nav li a {
    text-decoration: none;
    color: white;
  }
/*added for hamburger menu*/
.hamburgernav a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 0.5s;
  font-size: 1.5em;
}
/* end of add */
  #main-grid {
    display: grid;
    grid-template-columns: auto; 
    margin: 0 auto;
  }

  main {
    background: white;
    grid-column: 1 / 2;
  }

  h2, h3 {
    text-align: center;
    margin: 0;
    padding: 15px;
  }

  h2 {
    margin-bottom: 0;
  }

  hr.line-break {
    border: 1px solid black;
    margin-top: 0;
    width: 97%;
  }

  .card {
    border: 1px solid black;
    margin: 15px;
    border-radius: 5px;
  }

  h3 {
    background: #B0B493;
  }

  li a {
    text-align: left;
    color: black;
    font-size: 20px;
  }

  .card a:hover {
    color: blue;
  }

  #course-links, li {
    display: block;
    list-style-type: none;
    padding-bottom: 10px;
  }
   
  footer {
    background: #B0B493;
    padding: 5px;
    text-align: center;
    grid-column: 1 / 3;
  }
/*added for hamburger menu*/
.show li {
  display: block;
}

#hamburgermenu.show::before {
  content: "✖️";
}
/* end of add */

.hamburgernav a:active::before {
  content: "📍";
}

#weather-icon {
  width: 100%;
  height: auto;
}
  /*this is @media query. Don't add anything after*/

/*  @media screen and (max-width: 900px) {
    #header-grid, #main-grid {
      display: block;
      height: auto;
    }
    #hero-img {
      margin: auto;
    }

    h1 {
      display: block;
      font-size: 40px;
    }
  }*/